<html>
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<header>
    <h1><%= title %></h1>
      <nav>
        <a href="/lists">View List</a>
        <a href="/addItem">Add Item</a>
        <a href="/deleteItem">Delete Item</a>
      </nav>
</header>
</html>