body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}
header, footer {
    background-color: #222;
    color: white;
    padding: 1rem;
    text-align: center;
}

main {
    padding: 2rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
}

.card {
    border: 2px solid #ccc;
    padding: 1rem;
    border-radius: 8px;
}


.card.deli { background-color: #fff3cd; }
.card.frozen { background-color: #cce5ff; }
.card.produce { background-color: #d4edda; }
